{% block sidebar %}
<div class="sidenav">
    <img class="mx-auto" style="width:100px" src="{{ asset('images/logo.png') }}">
    <a href="#about">Conversations</a>
    <a href="#services">Contacts</a>
</div>
<div>{% include 'home/index.html.twig' %}</div>
{% endblock %}